body {
    font-family: Arial;
    background-color: #90ADC6;
}
p {
    margin: 0;
}
a {
    text-decoration: none;
}
.head {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100px;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-between;
    align-items: center;
    background-color: #181f34;
}
.head .name {
    color: #FAD02C;
    font-weight: 600;
    font-size: 38px;
    cursor: pointer;
}
.buttons button {
    background-color: #90ADC6;
    border: none;
    cursor: pointer;
    padding: 8px 32px;
    font-weight: bold;
    border-radius: 8px;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 24px;
    transition: all 0.25s;
}
.buttons button:hover {
    padding: 8px 46px;
    margin-right: 6px;
    margin-left: 6px;
    background-color: #FAD02C;
}
.uppersection {
    position: absolute;
    top: 180px;
    left: 50px;
    display: flex;
    align-items: center;
    z-index: -1;
}
.left {
    width: 800px;
}
.pl-name {
    color: #181f34;
    font-weight: 600;
    font-size: 88px;
    margin-bottom: 10px;
}
.uppersection .description {
    font-size: 20px;
    font-weight: bold;
}
.right {
    flex: 1;
}
.right button {
    background-color: #FAD02C;
    border: none;
    font-size: 34px;
    padding: 20px 80px;
    margin: 0 20px;
    border-radius: 40px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.25s;
}
.right button:hover {
    background-color: #333652;
    color: #FAD02C;

}
.section-author {
    position: absolute;
    top: 320px;
    left: 0;
    right: 0;
    z-index: -2;
}
.middlesection {
    position: absolute;
    top: 450px;
    left: 30px;
    right: 30px;
    height: 300px;
    box-shadow: 0 0 15px #333652;
    background-color: #181f34;
    border-radius: 20px;
    z-index: -2;
}
.middlesection h3 {
    color: #FAD02C;
    font-size: 38px;
}
.flex-member {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.member-info {
    display: grid;
    place-items: center;
    width: 230px;
}
.member {
    width: 120px;
    height: 120px;
    cursor: pointer;
    margin-bottom: 15px;
}
.mem-name {
    font-weight: bold;
    font-style: oblique;
    color: #FAD02C;
    font-size: 20px;
}
.section-inspire {
    position: absolute;
    top: 730px;

}
.lowersection {
    position: absolute;
    top: 850px;
    left: 30px;
    right: 30px;
    height: 1300px;
    box-shadow: 0 0 15px #333652;
    background-color: #181f34;
    border-radius: 20px;
    z-index: -2;
}
.lowersection h3 {
    color: #FAD02C;
    margin-top: 30px;
    font-size: 38px;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 25px;
    place-items: center;
    margin-top: 50px;
}
.boxes {
    height: 260px;
    width: 560px;
    box-shadow: 0 0 3px #90ADC6;
    background-color: #E9EAEC;
    border-radius: 10px;
}
.foot {
    position: absolute;
    top: 2200px;
    left: 0;
    right: 0;
    height: 100px;
    background-color: #181f34;
}
.foot p {
    color: #FAD02C;
    display: flex;
    align-items: center;
    justify-content: center;
}
.foot .name {
    font-weight: bold;
    font-size: 36px;
    margin: 10px 0;
}
.foot .description {
    font-size: 20px;
}
